<!DOCTYPE html>
<html>
    <head>
        <title>Principal - Publicante</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" 
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
        <style>
            #logo_ulima{
                height: 40pt
            }
            .titulo{
                margin-left: 10pt;
                font-size: 23pt
            }
        </style>
    </head>
    <body class="container">
        <div>
            <!-- Cabecera del sitio -->
            <div class="well">
                <img id="logo_ulima" 
                     alt="Brand" 
                     src="https://upload.wikimedia.org/wikipedia/commons/0/0e/ULIMA_logo.png">
                <span class="titulo">UL - Blog App</span>
            </div>
            <!-- Fin Cabecera del sitio -->
        </div>
        <div class="row">
            <div class="col-md-3">
                <!-- Menu del sitio -->
                <ul class="nav nav-pills nav-stacked">
                    <li role="presentation" ><a href="#">Ver Posts</a></li>
                    <li role="presentation" class="active"><a href="#">Publicar Post</a></li>
                    <li role="presentation"><a href="#">Ayuda</a></li>
                </ul>
                <!-- Fin del sitio -->
            </div>
            <div class="col-md-9">
                <!-- Contenido del sitio -->
                <h2>Publicar Post</h2>
                <form action="/add_post" method="POST" class="form-horizontal">
                    <div class="form-group">
                        <label for="nombre_post" class="col-sm-2 control-label">
                            Título Post
                        </label>
                        <div class="col-sm-10">
                            <input type="text" 
                                   class="form-control" 
                                   id="nombre_post" 
                                   name="nombre_post"
                                   placeholder="Titulo Post">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="descripcion_post" class="col-sm-2 control-label">
                            Descripción
                        </label>
                        <div class="col-sm-10">
                            <textarea class="form-control" 
                                      name="descripcion_post">
                            </textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="fecha_post" class="col-sm-2 control-label">
                            Fecha
                        </label>
                        <div class="col-sm-10">
                            <input type="text" 
                                   class="form-control" 
                                   id="nombre_post" 
                                   name="fecha_post"
                                   placeholder="Fecha">
                        </div>
                    </div>
                    <button type="button" class="btn btn-success">Guardar</button>
                    <button type="button" class="btn btn-success">Publicar</button>
                </form>
                <!-- Fin Contenido del sitio -->
            </div>
        </div>
        <div>
            <!-- Footer del sitio -->
        </div>
        <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>
