<!DOCTYPE html>

<html>
    <head>
        <title>Blogapp</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Nuevo Post</h1>
        <form action="/add_post" method="POST">
            <div>
                Ingrese Nombre de Post: 
                <input type="text" name="nombre_post" />
            </div>
            <div>
                Ingrese Descripcion: 
                <textarea name="descripcion_post"></textarea>
            </div>
            <div>
                Ingrese fecha: 
                <input type="text" name="fecha_post" />
            </div>
            <input type="submit" value="Enviar" />
        </form>
    </body>
</html>
