<!DOCTYPE html>
<html>
    <head>
        <title>Principal</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" 
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
    </head>
    <body class="container">
        <div>
            <!-- Cabecera del sitio -->
        </div>
        <div class="row">
            <div class="col-md-4">
                <ul class="nav nav-pills nav-stacked">
                    <li role="presentation" class="active"><a href="#">Ver Posts</a></li>
                    <li role="presentation"><a href="#">Publicar Post</a></li>
                    <li role="presentation"><a href="#">Ayuda</a></li>
                </ul>
            </div>
            <div class="col-md-10">Contenido</div>
        </div>
        <div>
            <!-- Footer del sitio -->
        </div>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>
